{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Bienvenido al Sistema 911</h1>
    <p>La página principal está funcionando correctamente.</p>
{% endblock %}
