{% extends 'base.html.twig' %}

{% block title %}Error del Servidor{% endblock %}

{% block body %}
<div class="container text-center mt-5">
    <h1 class="display-1">500</h1>
    <h2 class="mb-4">Error Interno del Servidor</h2>
    <p class="mb-4">Lo sentimos, algo salió mal en nuestro servidor. Estamos trabajando para solucionarlo lo antes posible.</p>
   <p style="font-weight: bold; color: white; text-decoration: none;"><strong><a href="{{ path('home_index') }}" style="text-decoration: none;">Volver al inicio</a></strong></p>
</div>
{% endblock %}
