{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
     {{ pwa() }}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> {# OPTIMIZACIÓN MÓVIL #}
        <title>{% block title %}SACI{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}">
        
        {# Iconos y librerías externas #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

        {# PWA: Manifest y tema #}
        <meta name="theme-color" content="#0d6efd">

        {# Estilos personalizados #}
        {% block stylesheets %}
            <style>
                body {
                    color: white;
                }
            </style>
        {% endblock %}

        {# JavaScript e importmap #}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}
        {# PWA: Registro del Service Worker #}
        <script>
            if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/service-worker.js')
    .then(() => console.log('Service Worker registrado con éxito'))
    .catch((error) => console.error('Error registrando el Service Worker:', error));
        </script>
    </body>
</html>

